(-> (from :lineitem [l-shipdate l-quantity l-extendedprice l-discount l-tax l-returnflag l-linestatus]) (where (<= l-shipdate #time/date "1998-09-02")) (aggregate l-returnflag l-linestatus {:sum-qty (sum l-quantity), :sum-base-price (sum l-extendedprice), :sum-disc-price (sum (* l-extendedprice (- 1 l-discount))), :sum-charge (sum (* (* l-extendedprice (- 1 l-discount)) (+ 1 l-tax))), :avg-qty (avg l-quantity), :avg-price (avg l-extendedprice), :avg-disc (avg l-discount), :count-order (row-count)}) (order-by l-returnflag l-linestatus))