(-> (unify (join (-> (unify (from :partsupp [{:ps-suppkey s} ps-availqty ps-supplycost]) (from :supplier [{:xt/id s, :s-nationkey n}]) (from :nation [{:xt/id n, :n-name "GERMANY"}])) (aggregate {:total-value (sum (* ps-supplycost ps-availqty))})) [total-value]) (join (-> (unify (from :partsupp [{:ps-suppkey s} ps-availqty ps-supplycost ps-partkey]) (from :supplier [{:xt/id s, :s-nationkey n}]) (from :nation [{:xt/id n, :n-name "GERMANY"}])) (aggregate ps-partkey {:value (sum (* ps-supplycost ps-availqty))})) [ps-partkey value])) (where (> value (* 1.0E-4 total-value))) (return ps-partkey value) (order-by {:val value, :dir :desc}))