(-> (unify (from :lineitem [{:l-orderkey o} l-receiptdate l-commitdate l-shipdate l-shipmode]) (where (in? l-shipmode $ship-modes) (>= l-receiptdate #time/date "1994-01-01") (< l-receiptdate #time/date "1995-01-01") (< l-commitdate l-receiptdate) (< l-shipdate l-commitdate)) (from :orders [#:xt{:id o} o-orderpriority])) (aggregate l-shipmode {:high-line-count (sum (case o-orderpriority "1-URGENT" 1 "2-HIGH" 1 0))} {:low-line-count (sum (case o-orderpriority "1-URGENT" 0 "2-HIGH" 0 1))}) (order-by l-shipmode))