(-> (unify (from :lineitem [{:l-partkey p} l-shipdate l-extendedprice l-discount]) (where (>= l-shipdate #time/date "1995-09-01") (< l-shipdate #time/date "1995-10-01")) (from :part [#:xt{:id p} p-type])) (aggregate {:promo (sum (if (like p-type "PROMO%") (* l-extendedprice (- 1 l-discount)) 0))} {:total (sum (* l-extendedprice (- 1 l-discount)))}) (return {:promo-revenue (* 100 (/ promo total))}))