(-> (unify (from :part [#:xt{:id p} p-brand p-type p-size]) (where (in? p-size sizes) (<> p-brand "Brand#45") (not (like p-type "MEDIUM POLISHED%"))) (from :partsupp [{:ps-partkey p, :ps-suppkey s}]) (where (not (exists? (-> (from :supplier [#:xt{:id $s} s-comment]) (where (like "%Customer%Complaints%" s-comment))) {:args [s]})))) (aggregate p-brand p-type p-size {:supplier-cnt (count-distinct s)}) (order-by {:val supplier-cnt, :dir :desc} p-brand p-type p-size))