(-> (unify (from :part [{:xt/id p, :p-brand "Brand#23", :p-container "MED BOX"}]) (from :lineitem [{:l-partkey p} l-quantity l-extendedprice]) (join (-> (from :lineitem [{:l-partkey $p} l-quantity]) (aggregate {:avg-quantity (avg l-quantity)})) {:args [p], :bind [avg-quantity]}) (where (< l-quantity (* 0.2 avg-quantity)))) (aggregate {:sum-extendedprice (sum l-extendedprice)}) (return {:avg-yearly (/ sum-extendedprice 7.0)}))