(-> (unify (from :part [#:xt{:id p} p-size p-brand p-container]) (from :lineitem [{:l-shipinstruct "DELIVER IN PERSON" :l-partkey p} l-shipmode l-discount l-extendedprice l-quantity]) (where (in? l-shipmode ship-modes) (or (and (= p-brand "Brand#12") (in? p-container #{"SM CASE" "SM BOX" "SM PKG" "SM PACK"}) (>= l-quantity 1.0) (<= l-quantity 11.0) (>= p-size 1) (<= p-size 5)) (and (= p-brand "Brand#23") (in? p-container #{"MED BAG" "MED BOX" "MED PKG" "MED PACK"}) (>= l-quantity 10.0) (<= l-quantity 20.0) (>= p-size 1) (<= p-size 10)) (and (= p-brand "Brand#34") (in? p-container #{"LG PACK" "LG CASE" "LG PKG" "LG BOX"}) (>= l-quantity 20.0) (<= l-quantity 30.0) (>= p-size 1) (<= p-size 15))))) (aggregate {:revenue (sum (* l-extendedprice (- 1 l-discount)))}))
