(-> (unify (from :part [#:xt{:id p} p-name]) (where (like p-name "forest%")) (from :partsupp [{:ps-suppkey s, :ps-partkey p} ps-availqty]) (from :supplier [{:xt/id s, :s-nationkey n} s-name s-address]) (from :nation [{:xt/id n, :n-name "CANADA"}]) (where (> ps-availqty (* 0.5 (q (-> (unify (from :lineitem [{:l-partkey $p, :l-suppkey $s} l-shipdate l-quantity]) (where (>= l-shipdate #time/date "1994-01-01") (< l-shipdate #time/date "1995-01-01"))) (aggregate {:sum-quantity (sum l-quantity)})) {:args [s p]}))))) (return s-name s-address) (order-by s-name))