(-> (unify (from :orders [{:xt/id o, :o-custkey c} o-orderdate]) (where (>= o-orderdate #time/date "1995-01-01") (<= o-orderdate #time/date "1996-12-31")) (from :lineitem [{:xt/id l, :l-orderkey o, :l-suppkey s, :l-partkey p} l-extendedprice l-discount]) (from :customer [{:xt/id c, :c-nationkey n1}]) (from :nation [{:xt/id n1, :n-regionkey r1}]) (from :region [{:xt/id r1, :r-name "AMERICA"}]) (from :supplier [{:xt/id s, :s-nationkey n2}]) (from :nation [{:xt/id n2, :n-name nation}]) (from :part [{:xt/id p, :p-type "ECONOMY ANODIZED STEEL"}])) (return {:o-year (extract "YEAR" o-orderdate)} {:volume (* l-extendedprice (- 1 l-discount))} nation) (aggregate o-year {:mkt-share (/ (sum (if (= "BRAZIL" nation) volume 0)) (sum volume))}) (order-by o-year))