(-> (unify (from :orders [{:xt/id o, :o-custkey c} o-orderdate]) (where (>= o-orderdate #time/date "1993-10-01") (< o-orderdate #time/date "1994-01-01")) (from :customer [{:xt/id c, :c-nationkey n} c-name c-address c-phone c-acctbal c-comment]) (from :nation [{:xt/id n, :n-name n-name}]) (from :lineitem [{:l-orderkey o, :l-returnflag "R"} l-extendedprice l-discount])) (aggregate c c-name {:revenue (sum (* l-extendedprice (- 1 l-discount)))} c-acctbal c-phone n-name c-address c-comment) (order-by {:val revenue, :dir :desc}) (limit 20))