(-> (unify (from :customer [#:xt{:id c} c-name]) (from :orders [{:xt/id o, :o-custkey c} o-orderdate o-totalprice])) (where (in? o (q (-> (from :lineitem [{:l-orderkey o} l-quantity]) (aggregate o {:sum-quantity (sum l-quantity)}) (where (> sum-quantity 300.0)) (return o))))) (return c-name {:c-custkey c} {:o-orderkey o} o-orderdate o-totalprice sum-qty) (order-by {:val o-totalprice, :dir :desc} o-orderdate) (limit 100))