(-> (unify (from :nation [{:xt/id n, :n-name "SAUDI ARABIA"}]) (from :supplier [{:xt/id s, :s-nationkey n} s-name]) (from :orders [{:xt/id o, :o-orderstatus "F"}]) (from :lineitem [{:xt/id l1, :l-suppkey s, :l-orderkey o} l-receiptdate l-commitdate])) (where (> l-receiptdate l-commitdate) (exists? (-> (from :lineitem [{:l-orderkey o, :l-suppkey l2s}]) (where (<> $s l2s))) {:args [o s]}) (not (exists? (-> (from :lineitem [{:l-orderkey o, :l-suppkey l3s} l-receiptdate l-commitdate]) (where (<> $s l3s) (> l-receiptdate l-commitdate))) {:args [o s]}))) (aggregate s-name {:numwait (count l1)}) (order-by {:val numwait, :dir :desc} s-name) (limit 100))