(-> (unify (from :customer [{:xt/id c, :c-mktsegment segment}]) (from :orders [{:xt/id o, :o-custkey c} o-shippriority o-orderdate]) (where (< o-orderdate #time/date "1995-03-15")) (from :lineitem [{:l-orderkey o} l-discount l-extendedprice l-shipdate]) (where (> l-shipdate #time/date "1995-03-15"))) (aggregate {:l-orderkey o} {:revenue (sum (* l-extendedprice (- 1 l-discount)))} o-orderdate o-shippriority) (order-by {:val revenue, :dir :desc} o-orderdate) (limit 10))