(-> (unify (from :orders [{:xt/id o, :o-custkey c} o-orderdate]) (where (>= o-orderdate #time/date "1994-01-01") (< o-orderdate #time/date "1995-01-01")) (from :lineitem [{:l-orderkey o, :l-suppkey s} l-extendedprice l-discount]) (from :supplier [{:xt/id s, :s-nationkey n}]) (from :customer [{:xt/id c, :c-nationkey n}]) (from :nation [{:xt/id n, :n-regionkey r} n-name]) (from :region [{:xt/id r, :r-name region}])) (aggregate n-name {:revenue (sum (* l-extendedprice (- 1 l-discount)))}) (order-by {:val revenue, :dir :desc}))